:root {
    --ff: "Josefin Sans", "sans-serif";
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --pastel-pink: hsl(0, 80%, 86%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --gradient-one: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient-two: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 74%, 74%));
}

/* ---- Typography ----- */

body {
    font-family: var(--ff);
}

h1 {
    font-size: 2.5rem;
}

.launch--fw-light {
    font-weight: var(--fw-light);
}

.launch__input-error {
    font-size: 12px;
}


/* ---- Global styles ----- */

body {
    min-height: 100vh;
    background: var(--gradient-one);
}

figure {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

#error {
    padding: 1em 1.5em;
    color: var(--soft-red);
    display: none;
}

.launch__right {
    display: none;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.launch__logo {
    padding: 2rem 1.5rem;
    max-width: 45%;
    cursor: pointer;
}

.launch__soon {
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: .5rem;
    color: var(--dark-grayish-red);
    letter-spacing: .8rem;
}

.launch--fw-light {
    color: var(--desaturated-red);
}

.launch__soon,
.launch__info {
    text-align: center;
}

.launch__info {
    padding: 0 10px;
    color: var(--desaturated-red);
    line-height: 1.5rem;
}

.launch__form {
    width: 90%;
    margin: 2rem auto 4rem auto;
    position: relative;
}

.launch__email,
.launch__submit {
    border: none;
    outline: 0;
}

.launch__email {
    width: 100%;
    padding: .9rem 0;
    border-radius: 100px;
    outline: 1px solid #c3c3c3;
    text-indent: 6%;
    background-color: transparent;
    color: black;
}

.launch__email:focus {
    outline-color: var(--pastel-pink);
}

.launch__email::-webkit-input-placeholder {
    color: var(--desaturated-red);
    font-size: .8rem;
    opacity: .8;
}

.launch__submit {
    width: 4.2rem;
    position: absolute;
    top: -2px;
    right: -5px;
    padding: .9rem 0;
    border-radius: 100px;
    background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    display: grid;
    place-content: center;
    cursor: pointer;
    box-shadow: 4.5px 4.4px 10px rgba(0, 0, 0, 0.08), 36px 35px 80px rgba(0, 0, 0, 0.08);
}

.launch__submit:hover {
    background: none;
    background-color: hsl(0, 80%, 86%);
    box-shadow: 4.5px 4.4px 10px rgba(238, 140, 140, .5), 36px 35px 80px rgba(238, 140, 140, .5);
}

.error-styles {
    outline: 3px solid var(--soft-red);
    background-image: url("../images/icon-error.svg");
    background-position: 80% 50%;
    background-repeat: no-repeat;
}

.animation-Down {
    animation: fadeInDown .4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes fadeInDown {

    0% {
        opacity: 0;
        transform: translateY(-1.5em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-title {
    color: var(--dark-grayish-red);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
}

.modal-confirm-btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--fw-bold);
    font-size: 1.2rem;
    padding: .5em 2em;
    color: var(--dark-grayish-red);
    background: transparent;
    border: none;
    outline: 6px double var(--pastel-pink);
    cursor: pointer;
}

.modal-confirm-btn:hover {
    background-color: rgba(255, 78, 137, 0.267);
}


/* ----- Media Queries ----- */


@media (min-width: 375px) {

    .container {
        max-width: 375px;
        margin: 0 auto;
    }

    .launch__soon {
        font-size: 3rem;
    }

    .launch__submit {
        top: -1px;
    }
}


@media (min-width: 425px) {

    body {
        background-image: url("../images/bg-pattern-desktop.svg");
        background-size: cover;
    }
}


@media (min-width: 585px) {

    .launch__model {
        mix-blend-mode: difference;
    }

    .launch__model-wrapper:before {
        content: url("../images/hero-mobile.jpg");
        position: absolute;
        top: 95px;
        left: 80px;
        z-index: -1;
        opacity: .9;
        filter: hue-rotate(320deg);
    }

    .launch__model-wrapper:after {
        content: url("../images/hero-mobile.jpg");
        position: absolute;
        top: 95px;
        right: 90px;
        z-index: -1;
        opacity: .9;
        filter: hue-rotate(40deg);
    }


    .launch__soon {
        font-size: 4rem;
    }

    .launch__soon,
    .launch__info {
        text-align: left;
    }

    .launch__form {
        width: 100%;
    }
}


@media (min-width: 1024px) {

    body {
        background: url("../images/bg-pattern-desktop.svg");
        background-size: 70rem;
        background-position: -30% 80%;
        overflow: hidden;
    }

    .launch__model-wrapper {
        display: none;
    }

    .launch__right {
        display: block;
    }

    .container {
        max-width: none;
        width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: space-between;
    }

    .launch__left {
        width: 50%;
        padding: 4rem 4rem 4rem 12rem;
    }

    .launch__logo {
        width: 35%;
        padding: 0;
    }

    .launch__soon {
        font-size: 4.4rem;
        margin-top: 8rem;
        margin-bottom: 1.2rem;
    }

    .launch__info {
        width: 90%;
    }

    .launch__form {
        margin: 2.5rem 0 4rem 0;
        max-width: 420px;
    }

    .launch__submit {
        width: 25%;
        padding: 1.1rem 0;
    }

    .launch__email {
        padding: 1.1rem 0;
    }

    .launch__right {
        width: 45%;
        display: flex;
        justify-content: flex-end;
    }

    .outline,
    .filter {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: transparent;
        position: absolute;
        pointer-events: none;
        transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .outline {
        outline: 6px solid var(--pastel-pink);
    }

    img:hover+.outline {
        transform: scale(4.5);
        outline: 2px solid pink;
    }

    img:hover~.filter {
        background-color: #fff;
        mix-blend-mode: difference;
        filter: contrast(30%) invert(15%);
        transform: scale(4.5);
    }

    .error-styles {
        outline: 1px solid var(--soft-red);
        background-position: 70% 50%;
    }

}